{% extends 'base.html' %}
{% block header %}



{% if g.user %}
<div style=" margin-right:50px ">
    <p style="float: left; margin-right:20px "><a href="/prof">{{ g.user['username'] }}</a></p>
    <a href="{{ url_for('auth.logout') }}">Log Out</a>
</div>
    {% else %}
    <div style="margin-right:50px">
        <a href="{{ url_for('auth.login') }}">Log In</a>
    </div>
    {% endif %}

{% endblock%}




{% block body %}
<main class="container">

  <!-- Left Column  -->
  <div class="left-column" style="margin-left: 150px">
    <img  class="active" style="width:550px; height:450px;" src="{{ url_for('static', filename='images/run-reebok-running-shoes-64e3beadbe692_8ed4qLnn.jpg') }}" alt="">
  </div>


  <!-- Right Column -->
  <div class="right-column">
<form action="/add_cort_kyrtka5" method="post">
    <!-- Product Description -->
    <div class="product-description">
      <span>Куртка</span>
      <h1>Куртка из полиэстера</h1>
      <p>Эта куртка из полиэстера станет прекрасным выбором для тех, кто ценит комфорт и практичность. Изготовлена из высококачественного материала, она лёгкая, прочная и проста в уходе. Куртка имеет удобный капюшон, который защитит вас от непогоды. Размер XL.</p>
    </div>

    <!-- Product Configuration -->


    <!-- Product Pricing -->
    <div class="product-price">
      <span>5500руб</span>
      <button  class="cart-btn" type="submit">В корзину</button>
    </div>
</form>
  </div>
</main>

{% endblock%}
