{% extends 'base.html' %}


{% block title %}
Страница про нас
{% endblock%}
{% block header %}



  {% if g.user %}
<div style=" margin-right:50px ">
    <p style="float: left; margin-right:20px "><a href="/prof">{{ g.user['username'] }}</a></p>
    <a href="{{ url_for('auth.logout') }}">Log Out</a>
</div>
    {% else %}
    <div style="margin-right:50px">
        <a href="{{ url_for('auth.login') }}">Log In</a>
    </div>
    {% endif %}

{% endblock%}
{% block body %}
<center>
<div class="container" style="text-align:center">
<h1 style="margin-left:35%">Страница про нас</h1>
</div>

<div style="width:100%; font-size:24px;text-align:center; float:center">
    <p>
        Мы открыли наш магазин «Clothes Team» в 2008 году в Москве. Я и двое моих друзей детства, Алексей и Пётр, решили объединить наши усилия и открыть магазин одежды. У каждого из нас был свой опыт в этой сфере: я работал дизайнером одежды, Алексей занимался менеджментом по продажам, а Пётр имел опыт в маркетинге.
    </p>
    <p>
Мы арендовали небольшое помещение в центре города и начали свою деятельность с продажи джинсовой одежды. Наша первая коллекция была небольшой, но благодаря высокому качеству и оригинальному дизайну она быстро привлекла внимание покупателей. В течение нескольких месяцев мы расширили ассортимент и стали предлагать нашим клиентам также футболки, свитера и куртки.
    </p>
    <p>
Успех «Clothes Team» был обусловлен не только высоким качеством нашей продукции, но и уникальным подходом к работе с клиентами. Мы всегда старались учитывать пожелания наших клиентов и предлагать им именно то, что они искали. Кроме того, мы проводили регулярные акции и скидки, что привлекало ещё больше покупателей.
    </p>
    <p>
Сегодня «Clothes Team» — это сеть магазинов одежды, которая насчитывает более 50 точек продаж по всей стране. Мы продолжаем развиваться и расширяться, предлагая нашим клиентам всё новые и новые коллекции одежды высокого качества.
    </p>
<p style="color:blue">
    Наш магазин предлагает услугу самовывоза по следующему адресу: город Москва, улица Толмачёва, дом 8.
</p>
</div>
<img style="width:50%; height:50%; text-align:center; margin-bottom:50px; margin-top:50px " src="{{ url_for('static', filename='images/magazin.jpg') }}" alt=""/>
<p style="color:blue">
    Контактный телефон: +7 (999) 324 67 45
</p>
</center>


{% endblock%}